.video-container:not(:last-child) {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.video-thumb {
  width: 100%;
  height: auto;
}

.video-info {
  display: flex;
  width: 100%;
  line-height: 2;
}

.video-info > * + * {
  margin-left: 8px;
}

.video-info__text {
  height: 100%;
  min-height: 40px;
}

.video-info h2 {
  font-size: 1rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  overflow: hidden;
  margin: 0;
  max-height: 40px;
  line-height: 1.2;
  font-weight: normal;
}

.video-info h4 {
  font-size: 0.875rem;
  margin: 0;
  font-weight: normal;
}
